* {
    padding: 0;
    margin:  0;
    border:  0;
     
    box-sizing: border-box;
    outline:  0;
}

body {
    -webkit-font-smoothig: antialiased;
    font-family:  'Inter', sans-serif;
    display: flex;
    gap: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 16rem;
    height: 100vh;
    align-items: center;
    padding-top: 1rem;

    background-color: #0E1B6B;
}

header img{
    width: 8rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 16rem;
    align-items: center;
}


.navigation {
    display: flex;
    justify-content: start;
    width: 90%;
    color: #fff;
}

.navigation  {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.navigation   svg {
    width: 1rem;
}

.navigation  span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 50%;
    transition: 1s;
}

.navigation span:hover{
    text-decoration: underline;
    cursor: pointer;
}


main {
    display: flex;
    flex: 1;
    width: 65rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#title{
    font-size: 2rem;
    font-weight: 600;
}

#search{
    width: 80%;
    height: 2rem;
    padding-left: 2rem;
    border-radius: 0.75rem;
}

#addUser{
    width: 14rem;
    height: 3rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #4763E4;
    transition: 1s;
}

#addUser:hover{
    background-color: #3250d6;
}
